@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s linear infinite;
}

.button {
  @apply px-4 py-2 text-xs lg:text-sm rounded shadow box-border border focus:outline-none focus:ring-1 cursor-pointer;
}